  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <!-- Left column content -->
          <h5>Contact</h5>
          <p>Email: contact@billtalksai.com</p>
          <p>Follow Bill on <a href="https://www.linkedin.com/in/williamraymond/" target="_blank">LinkedIn</a></p>
        </div>
        <div class="col-lg-6 mb-4 text-right">
          <!-- Right column content -->
          <h5>Subscribe to Newsletter</h5>
          <p>Stay updated with the latest AI news and insights. Subscribe to our newsletter.</p>
          <!-- Newsletter signup form -->
        </div>
      </div>
      <div class="row">
      <div class="col-12 text-center">
        <p>&copy; Copyright {{ now.Year }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
